@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	background-color: white;
}

::-webkit-scrollbar
{
	width: 4px;
	background-color: white;
}

::-webkit-scrollbar-thumb
{
	background-color: #05234B;
}

html {
  scroll-behavior: smooth;
}

.item {
  flex: 1 1 calc(25% - 1rem);
}

@media screen and (max-width: 800px) {
  .item {
    flex-basis: calc(50% - 1rem);
  }
}

@media screen and (max-width: 500px) {
  .item {
    flex-basis: 100%;
  }
}

/* fonts: */

.rajdhani-light {
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.rajdhani-regular {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rajdhani-medium {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.rajdhani-semibold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.rajdhani-bold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-style: normal;
}
